rofi.modi: window,run,ssh
rofi.key-window: control+Tab
rofi.key-run: control+space
rofi.font: Hack 10
rofi.lines:   10
rofi.eh:    1
!rofi.width:   100
!rofi.padding: 800
rofi.opacity: 95
rofi.bw:    0
rofi.bc:    #ffffff
rofi.bg:    #333333
rofi.fg:    #ffffff
rofi.hlbg:    #333333
rofi.hlfg:    #a2d9b1
